<%- include('partials/header') %>

<h2>Dashboard</h2>

<p><%= `Welcome, ${user.firstName}!` %></p>

<h3>Your Bills</h3>

<%
const paySchedules = [ 'Weekly', 'Bi-Weekly', 'Semi-Monthly', 'Monthly' ];

if(budgets.length > 0) {
    budgets.forEach(budget => { %>

<form action="/budgets/<%= budget.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>
        Pay Schedule
        <select name="paySchedule">
            <%
                paySchedules.forEach(schedule => { %>
            <option value="<%= schedule %>" <% if(budget.paySchedule === schedule) { %> selected <% } %>>
                <%= schedule %>
            </option>
            <%
                });
                %>
        </select>
    </label>
    <button type="submit">Update</button>
</form>

<%
if(budget.bills.length > 0) { %>

<br />

<table>
    <thead>
        <tr align="left">
            <th>Bill</th>
            <th>Due Date</th>
            <th align="right">Total</th>

            <% if(budget.paySchedule === "Weekly" ||
                budget.paySchedule === "Bi-Weekly" ||
                budget.paySchedule === "Semi-Monthly" ||
                budget.paySchedule === "Monthly") { %>

            <th align="right">One</th>

            <%
            }

            if(budget.paySchedule === "Weekly" ||
                budget.paySchedule === "Bi-Weekly" ||
                budget.paySchedule === "Semi-Monthly") { %>

            <th align="right">Two</th>

            <%
            }

            if(budget.paySchedule === "Weekly") { %>

            <th align="right">Three</th>
            <th align="right">Four</th>

            <%
            }
            %>

            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% budget.bills.forEach(bill => { %>
        <tr>
            <td><%= bill.name %></td>
            <td><%= bill.dueDate %></td>
            <td align="right">$<%= bill.total.toFixed(2) %></td>

            <% if(budget.paySchedule === "Weekly" ||
                budget.paySchedule === "Bi-Weekly" ||
                budget.paySchedule === "Semi-Monthly" ||
                budget.paySchedule === "Monthly") { %>

            <td align="right">$<%= !bill.installments[0] ? 0 : bill.installments[0] %></td>

            <%
            }

            if(budget.paySchedule === "Weekly" ||
                budget.paySchedule === "Bi-Weekly" ||
                budget.paySchedule === "Semi-Monthly") { %>

            <td align="right">$<%= !bill.installments[1] ? 0 : bill.installments[1] %></td>

            <%
            }

            if(budget.paySchedule === "Weekly") { %>

            <td align="right">$<%= !bill.installments[2] ? 0 : bill.installments[2] %></td>
            <td align="right">$<%= !bill.installments[3] ? 0 : bill.installments[3] %></td>

            <%
            }
            %>

            <td>
                <% if(bill.url) { %>
                <a href="<%= bill.url %>" target="_blank">Bill Pay Link</a>
                <% } %>
            </td>
            <td>
                <a href="/bills/<%= bill.id %>">Update</a>
            </td>
            <td>
                <form action="/bills/<%= bill.id %>?_method=DELETE" method="POST" autocomplete="off">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <%
            });
            %>
    </tbody>
</table>

<br />

<%
} else { %>

<p>No bills yet. Add one to get started 🤘🏼</p>

<%
}
%>

<a href="/budgets/<%= budget.id %>/bills/new">Add a Bill</a>

<%
    });
} else { %>

<p>Add a Budget to get this show on the road 🔥</p>
<a href="/budgets/new">New Budget</a>

<%
}
%>

<h3>Balance Tracker</h3>

<% if(balances.length > 0) { %>

<table>
    <thead>
        <tr align="left">
            <th>Date</th>
            <th>Starting</th>
            <th>Ending</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% balances.forEach(balance => { %>
        <tr>
            <td><%= balance.dateFormatted %></td>
            <td align="right">$<%= balance.startingBalance.toFixed(2) %></td>
            <td align="right">$<%= balance.runningBalance %></td>
            <td><a href="/balances/<%= balance.id %>">Manage</a></td>
            <td>
                <form action="/balances/<%= balance.id %>?_method=DELETE" method="POST" autocomplete="off">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<br />

<% } else { %>

<p>Keep track of your balance while you pay bills.</p>

<% } %>

<a href="/balances/new">New Log</a>

<%- include('partials/footer') %>