<%- include('../partials/header') %>

<h2>New Line Item</h2>

<form action="/balances/<%= balanceId %>/line-items" method="POST">

    <label>
        Name<br />
        <input type="text" name="name" />
    </label>

    <br /><br />

    <% if(bills.length > 0) { %>

    <label>
        Bill<br />
        <select name="bill">
            <option disabled selected>-Select-</option>
            <% bills.forEach(bill => { %>
            <option value="<%= bill.id %>"><%= bill.name %></option>
            <% }); %>
        </select>
    </label>

    <br /><br />

    <% } %>

    <label>
        Payment Amount<br />
        <input type="text" name="paymentAmount" />
    </label>

    <br /><br />

    <label>
        Notes<br />
        <textarea name="notes"></textarea>
    </label>

    <br /><br />

    <button type="submit">Add Line Item</button>
</form>

<p><a href="/balances/<%= balanceId %>">Go Back</a></p>

<%- include('../partials/footer') %>