<%- include('../partials/header') %>

<h2>New Line Item</h2>

<form action="/balances/<%= balanceId %>/line-items" method="POST" autocomplete="off">

    <label>
        Name<br />
        <input type="text" name="name" required />
    </label>

    <br /><br />

    <div id="transactionType-radios">
        <label>Transaction Type</label><br />
        <label><input type="radio" name="transactionType" value="Withdrawal" checked> Withdrawal</label>
        <label><input type="radio" name="transactionType" value="Deposit"> Deposit</label>

        <br /><br />
    </div>

    <% if(bills.length > 0) { %>

    <div id="bill-select">
        <label>
            Bill<br />
            <select name="bill">
                <option disabled selected>-Select-</option>
                <% bills.forEach(bill => { %>
                <option value="<%= bill.id %>"><%= bill.name %></option>
                <% }); %>
            </select>
        </label>

        <br /><br />
    </div>

    <% } %>

    <label>
        Transaction Amount<br />
        <input type="text" name="transactionAmount" required />
    </label>

    <br /><br />

    <label>
        Notes<br />
        <textarea name="notes"></textarea>
    </label>

    <br /><br />

    <button type="submit">Add Line Item</button>
</form>

<p><a href="/balances/<%= balanceId %>">Go Back</a></p>

<%- include('../partials/footer') %>