<%- include('../partials/header') %>

<h2><%= lineItem.name %></h2>

<form action="/line-items/<%= lineItem.id %>?_method=PUT" method="POST">

    <label>
        Name<br />
        <input type="text" name="name" value="<%= lineItem.name %>" />
    </label>

    <br /><br />

    <% if(bills.length > 0) { %>

    <label>
        Bill<br />
        <select name="bill">
            <option value="">-Select-</option>
            <% bills.forEach(bill => { %>
            <option value="<%= bill.id %>" <% if(lineItem.bill && lineItem.bill.id === bill.id) { %> selected <% } %>>
                <%= bill.name %>
            </option>
            <% }); %>
        </select>
    </label>

    <br /><br />

    <% } %>

    <label>
        Payment Amount<br />
        <input type="text" name="paymentAmount" value="<%= lineItem.paymentAmount.toFixed(2) %>" />
    </label>

    <br /><br />

    <label>
        Notes<br />
        <textarea name="notes"><%= lineItem.notes %></textarea>
    </label>

    <br /><br />

    <button type="submit">Update</button>
</form>

<p><a href="/balances/<%= lineItem.balance %>">Go Back</a></p>

<%- include('../partials/footer') %>