<%- include('../partials/header') %>

<h2><%= lineItem.name %></h2>

<form action="/line-items/<%= lineItem.id %>?_method=PUT" method="POST" autocomplete="off">

    <label>
        Name<br />
        <input type="text" name="name" value="<%= lineItem.name %>" required />
    </label>

    <br /><br />

    <div id="transactionType-radios">
        <label>Transaction Type</label><br />

        <label><input type="radio" name="transactionType" value="Withdrawal"
                <% if(lineItem.transactionType === 'Withdrawal') { %> checked <% } %>> Withdrawal</label>

        <label><input type="radio" name="transactionType" value="Deposit"
                <% if(lineItem.transactionType === 'Deposit') { %> checked <% } %>> Deposit</label>

        <br /><br />
    </div>

    <div id="bill-select" <% if(lineItem.transactionType === 'Deposit') { %> style="display: none;" <% } %>>
        <label>
            Bill<br />
            <select name="bill">
                <option value="">None</option>
                <% if(bills.length > 0) { %>
                <% bills.forEach(bill => { %>
                <option value="<%= bill.id %>" <% if(lineItem.bill && lineItem.bill.id === bill.id) { %> selected
                    <% } %>>
                    <%= bill.name %>
                </option>
                <% }); %>
                <% } %>
            </select>
        </label>

        <br /><br />
    </div>

    <label>
        Transaction Amount<br />
        <input type="text" name="transactionAmount" value="<%= lineItem.transactionAmount.toFixed(2) %>" required />
    </label>

    <br /><br />

    <label>
        Notes<br />
        <textarea name="notes"><%= lineItem.notes %></textarea>
    </label>

    <br /><br />

    <button type="submit">Update</button>
</form>

<p><a href="/balances/<%= lineItem.balance %>">Go Back</a></p>

<%- include('../partials/footer') %>