<%- include('../partials/header'); %>

<h2>Manage Balance Log</h2>

<form action="/balances/<%= balance.id %>?_method=PUT" method="POST" autocomplete="off">

    <div class="form-group">
        <input type="date" name="date" class="form-control" value="<%= balanceDate %>" required />
    </div>

    <div class="form-group">
        <label for="startingBalance">Starting Balance</label>
        <input type="text" name="startingBalance" id="startingBalance" class="form-control"
            value="<%= balance.startingBalance.toFixed(2); %>" required />
    </div>

    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" class="form-control"><%= balance.notes %></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Update</button>
</form>

<h4>Transactions</h4>

<%
if(lineItems.length > 0) { %>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr class="text-left">
                <th>Item</th>
                <th>Bill</th>
                <th class="text-right">Amount</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% lineItems.forEach(item => { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.bill ? item.bill.name : null %></td>
                <td class="text-right <% if(item.transactionType === 'Withdrawal') { %> text-danger <% } %>">
                    $<% if(item.transactionType === 'Withdrawal') { %>-<% } %><%= item.transactionAmount.toFixed(2) %>
                </td>
                <td><%= item.notes %></td>
                <td><a href="/line-items/<%= item.id %>">Update</a></td>
                <td>
                    <form action="/line-items/<%= item.id %>?_method=DELETE" method="POST" autocomplete="off">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>

            <tr>
                <th colspan="2">Balance</th>
                <td class="text-right">$<span id="running-balance"><%= runningBalance %></span></td>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>
</div>

<%
} else { %>

<p>No transactions yet. Add one below.</p>

<%
}
%>

<p><a href="/balances/<%= balance.id %>/line-items/new">Add Transaction</a></p>

<p><a href="/dashboard">Go Back</a></p>

<%- include('../partials/footer') %>