<%- include('../partials/header') %>

<h2><%= bill.name %></h2>

<form action="/bills/<%= bill.id %>?_method=PUT" method="POST" autocomplete="off">

    <label>
        Name<br />
        <input type="text" name="name" value="<%= bill.name %>" required />
    </label>

    <br /><br />

    <label>
        Due Date (1-31)<br />
        <input type="text" name="dueDate" value="<%= bill.dueDate %>" pattern="0*([1-9]|[12][0-9]|3[01])" required />
    </label>

    <br /><br />

    <label>
        <input type="checkbox" name="autoPay" value="1" <% if(bill.autoPay) { %> checked <% } %> /> Auto-Pay
    </label>

    <br /><br />

    <label>
        Auto-Pay Account<br />
        <input type="text" name="autoPayAccount" value="<%= bill.autoPayAccount %>" />
    </label>

    <br /><br />

    <label>
        Total<br />
        <input type="text" name="total" value="<%= bill.total.toFixed(2) %>"
            pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$" required />
    </label>

    <br /><br />

    <% if(bill.budget.paySchedule === "Weekly" ||
    bill.budget.paySchedule === "Bi-Weekly" ||
    bill.budget.paySchedule === "Semi-Monthly" ||
    bill.budget.paySchedule === "Monthly") { %>

    <label>
        Payment One<br />
        <input type="text" name="installments[0]" value="<%= bill.installments[0] %>" />
    </label>

    <br /><br />

    <%
    }

    if(bill.budget.paySchedule === "Weekly" ||
    bill.budget.paySchedule === "Bi-Weekly" ||
    bill.budget.paySchedule === "Semi-Monthly") { %>

    <label>
        Payment Two<br />
        <input type="text" name="installments[1]" value="<%= bill.installments[1] %>" />
    </label>

    <br /><br />

    <%
    }

    if(bill.budget.paySchedule === "Weekly") { %>

    <label>
        Payment Three<br />
        <input type="text" name="installments[2]" value="<%= bill.installments[2] %>" />
    </label>

    <br /><br />

    <label>
        Payment Four<br />
        <input type="text" name="installments[3]" value="<%= bill.installments[3] %>" />
    </label>

    <br /><br />

    <%
    }
    %>

    <label>
        Bill Pay Website<br />
        <input type="text" name="url" value="<%= bill.url %>" />
    </label>

    <br /><br />

    <button type="submit">Update</button>
</form>

<p><a href="/dashboard">Go Back</a></p>

<%- include('../partials/footer') %>